- content_for :title
  | Meus palpites
  ul[class="nav navbar-nav pull-right"]
    li.dropdown
      a[href="#" class="dropdown-toggle" data-toggle="dropdown"]
        = @group.championship
        small
          = " #{@group}"
        b.caret
      ul.dropdown-menu
        li
          - for group in @groups
            = link_to group, bets_path(group_id: group)

div[class="col-xs-12 col-sm-9"]
  ul.pager
    - if @week.previous?
      li.previous
        = link_to '←', bets_path(week: @week.previous)
    - else
      li[class='previous disabled']
        a
          | ←
    li
      | Semana
      = " #{@week.number}:"
      = " #{@week.start.strftime("%d/%m")} "
      | a
      = " #{@week.finish.strftime("%d/%m")} "
    - if @week.next?
      li.next
        = link_to '→', bets_path(week: @week.next)
    - else
      li[class="next disabled"]
        a
          | →

  ul.list-group
    - for bet in @bets
      li[class="list-group-item row"]
        div[class="col-md-1 col-xs-1"]
          div[class="text-center"]
            strong.bg-success
              = I18n.t("date.abbr_day_names")[bet.played_at.strftime("%w").to_i]
          div.text-center
            = bet.played_at.strftime("%H:%M")
          div.text-center
            small.text-muted
              = bet.played_at.strftime("%d/%m")
        div[class="col-md-1 col-xs-1 text-center"]
          = bet.round
        div[class="row col-md-9 col-xs-9"]
          div[class="col-md-4 col-xs-4 text-right"]
            span.visible-xs
              = bet.team_home.short_name
            span[class="visible-sm visible-md visible-lg"]
              = bet.team_home
          div[class="col-md-1 col-xs-1 text-left"]
            = image_tag bet.team_home.image, class: "img-responsive"
          div[class="col-md-2 col-xs-2 text-center"]
            | vs
          div[class="col-md-1 col-xs-1 text-right"]
            = image_tag bet.team_away.image, class: "img-responsive"
          div[class="col-md-4 col-xs-4"]
            span.visible-xs
              = bet.team_away.short_name
            span[class="visible-sm visible-md visible-lg"]
              = bet.team_away
        div[class="col-md-1 col-xs-1"]

div[class="col-xs-12 col-sm-3" role="navigation"]
  h4
    | Participantes

  div.list-group
    - for member in @members
      a[href='#' class="list-group-item"]
        // list-group-item-success
        = member
        span.badge
          | 0
